<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="./stylesheets/index.css">
    <%-script%>
    <script src="../javascripts/vue.min.js"></script>
    <script src="../javascripts/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <%include components/header.ejs%>
        <div class="form">
            <div class="form-item">
                <p class="message">{{message}}</p>
            </div>
            <div class="form-item">
                <input v-model="user.account" type="text" />
            </div>
            <div class="form-item">
                <input v-model="user.password" type="password" />
            </div>
            <div class="form-item">
                <button @click="loginBtnClick">登录</button>
                <!-- <button @click="listBtnClick">列表</button> -->
            </div>
        </div>
    </div>
    <script>
         var   vue = new Vue({
               el:"#app",
               data:{
                   message:"Hello",
                   user:{
                       account:"",
                       password:""
                   }
               },
               methods:{
                   loginBtnClick(){
                       if(this.user.account == ""){
                           this.message = "请输入账号";
                           return false;
                       }
   
                       if(this.user.password == ""){
                           this.message = "请输入密码";
                           return false;
                       }
                       axios.post("/users/login",{
                           account:this.user.account,
                           password:this.user.password
                       }).then(res => {
                           if(res.data.code == 200){
                               this.message = "登录成功";
                           }else{
                               this.message = res.data.message;
                           }
                       });
                   },
                   listBtnClick(){
                       axios.post("/users/list",{
                           pageId:0
                       }).then(res => {
                           console.log(res);
                       });
                   }
               }
           });
       </script>
       <!-- <script>
            <%include components/header.js%>
       </script> -->
</body>
</html>